#canvas1 {
    margin-left: 15px;
    margin-right: 15px;
    border: 2px solid #198754;
    border-radius: 5px 25px 25px 5px;
    box-shadow: 0px 10px 20px rgba(25, 135, 84, 0.90);


}


body, html {
    height: 100%;
    background-color: #EBB200;
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#text {
    white-space: pre-wrap;
    margin-top: 15%;
}

#oc, #green, #yellow, #blue, #red, #undo {
    text-align: center;
    width: 100px;
    margin-top: 10px;
    border-radius: 25px;
    fill: #198754;

}

#oc:hover, #green:hover, #yellow:hover, #blue:hover, #red:hover, #undo:hover {
    background-color: white;
    box-shadow: 0px 10px 20px rgba(25, 135, 84, 0.90);
}

#yellow {
    fill: yellow;
}

#blue {
    fill: blue;
}

#red {
    fill: red;
}

.offcanvas {
    --bs-offcanvas-width: 600px; 
    --bs-offcanvas-color: #198754; 
    --bs-offcanvas-border-width: 6px; 
    --bs-offcanvas-border-color: #198754;
}

#go_page {
    text-align: center;
    font-size: larger;
    padding: 0;
    width: 60px;
    border-radius: 25px;

}

#go_page:hover {
    background-color: #EBB200;
}

#r_f > input {
    margin-bottom: 20px;
}

.card:hover {
    box-shadow: 0px 10px 20px rgba(25, 135, 84, 0.90);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;

}
