{% extends "read/layout.html" %} {% load static %} {% block body %}
      <div class="row g-0 text-left" id="pg">
        <div class="col-md-10"><canvas id="canvas1"></canvas></div>
        <div class="col-md-2">
          <table style="position: fixed;">
            <tr>
              <td>
          <input type="number" value="1" id='go_page' class="btn btn-outline-success" style="width: 100px;">
          </td>
        </tr>
          <tr>
            <td>
          <button class="btn btn-outline-success" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" id="oc">Text</button>
          </td>
        </tr>
        </table>
        </div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
   <p id="text"></p>
  </div>

        </div>
      </div>


<script src="{% static 'read/index.js' %}"></script>
   
{% endblock %}