{% extends "read/layout.html" %} {% load static %} {% block body %}
<h2 class="text-success" style="padding: 10px;">Books</h2>
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for book in books %}
        <div class="col" id="col" onclick="location.href='{{book.id}}'">
            <div class="card text-bg-success h-100" style="border-radius: 5px 25px;">
              <div class="card-header"><h6>Title:</h6>{{ book.title }}</div>
                <div class="card-body" style="padding: 25px;cursor: pointer;height: 250px;overflow-y:auto;">
                  <h5 class="card-title">Description:</h5>
                    <p class="card-text">{{ book.description }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

   
{% endblock %}